@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Join Game</h2>

    <form>
        Character name: <input required"" />
        <button type="submit">Join Game</button>
    </form>
</div>

<div>
    <h2>todo player name</h2>

    <h3>Health</h3>
    <p>todo display health</p>

    <h3>Dead</h3>
</div>

<div>
    <h2>Other Players</h2>

    todo list all other players
</div>

@section scripts
{
    <script>
        var gameHub = $.connection.gameHub;

        gameHub.client.playerJoined = function (playerName, health) {
            // todo
        }

        gameHub.client.updatePlayerHealth = function (playerName, health) {
            // todo
        }

        $.connection.hub.start();

        // View model definition for player
        var PlayerViewModel = function (playerName, health) {
            var self = this;

            // attack method is called to attack this player
            self.attack = function () {
                gameHub.server.attack(self.playerName());
            }

            // changeHealth method is called to set a new health for this player
            self.changeHealth = function (newHealth) {
                self.health(newHealth);

                if (newHealth <= 0) {
                    self.isAlive(false);
                }
            }

            // Property definitions
            self.playerName = ko.observable(playerName);
            self.isAlive = ko.observable(true);
            self.health = ko.observable(NaN);

            // Set initial health
            self.changeHealth(health);
        }
    </script>
}